<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tube Delay Checker</title>
</head>
<body style="text-align:center">

  <h1>
    Tired of running late? Let us help you navigate the tube jungle!
  </h1>

  <form>
    What tube line are you travelling on?<br>
  <input type="text" name="tube_one"><br>

    Any other line you're using today?<br>
  <input type="text" name="tube_two">
  </form>

  <br/>
  <br/>
    {
    {% for tweet in tweets %}
        <li>{{tweet}}</li>
    {% endfor %}
    }

  <br/>
  <br/>

  <div>
      <p>

          Want to report a delay? Tweet here:

      </p>

      <a href="https://twitter.com/intent/tweet?button_hashtag=delay&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #delay</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  </div>




</body>
</html>