<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tube Delay Checker</title>
</head>
<body style="text-align:center">

  <h1>
    Tired of running late? Let us help you navigate the tube jungle!
  </h1>

  <form>
    What tube line are you travelling on?<br>
  <input type="text" name="tube_one"><br>
    Any other line you're using today?<br>
  <input type="text" name="tube_two">
  </form>

    {
    {% for tweet in tweets %}
        <li>tweet</li>
    {% endfor %}
    }


  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">⚽  It&#39;s a massive matchday for <a href="https://twitter.com/SpursOfficial?ref_src=twsrc%5Etfw">@SpursOfficial</a> as they face <a href="https://twitter.com/Inter?ref_src=twsrc%5Etfw">@Inter</a> at <a href="https://twitter.com/wembleystadium?ref_src=twsrc%5Etfw">@wembleystadium</a> at 8pm tonight.  The home side need a win if they hope to progress to the last 16 of <a href="https://twitter.com/ChampionsLeague?ref_src=twsrc%5Etfw">@ChampionsLeague</a>. Plan your journey at <a href="https://t.co/VMH89vBrgG">https://t.co/VMH89vBrgG</a> and travel early.<a href="https://t.co/Q7mu8UihHd">https://t.co/Q7mu8UihHd</a></p>&mdash; Jubilee line (@jubileeline) <a href="https://twitter.com/jubileeline/status/1067819400605179904?ref_src=twsrc%5Etfw">November 28, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <a class="twitter-timeline"
  href="https://twitter.com/jubileeline">
Tweets by @{jubileeline}
</a>





</body>
</html>